.destinations {
  margin-bottom: 80px;
  background-image: url('../img/backgrounds/green-ellipse@1x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top -15px right -65px;
  &__container {
    @extend .container;
    position: relative;
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__triangle {
    visibility: hidden;
  }

  &__quater-circle {
    visibility: hidden;
  }

  &__wrapper {
    margin-bottom: 80px;
  }

  &__card {
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
  }
}
