.destinations {
  &__container {
    @extend .container;
    position: relative;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__triangle {
  }

  &__quater-circle {
  }

  &__wrapper {
  }

  &__card {
  }

  &__button {
  }
}
