.places {
  margin-bottom: 80px;
  background-image: url('../img/backgrounds/gray-rectangle.jpg');
  background-position: right;
  background-size: 789px 580px;
  background-repeat: no-repeat;
  &__container {
    @extend .container;
    position: relative;
  }

  &__text-block {
    max-width: 420px;
  }

  &__title {
    line-height: 1.35em;
    text-align: center;
    margin-bottom: 40px;
  }

  &__title--red {
    color: $main-red;
  }

  &__descr {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    // for large resolutions:
    // font-size: 1.8rem;
    font-size: 1.6rem;
    color: $secondary-text;
    text-align: center;
    margin-bottom: 50px;
  }

  &__button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  &__cards {
  }

  &__card {
    max-width: 330px;
    max-height: 400px;
    margin-bottom: 30px;
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
  }

  &__name {
    font-family: 'Noto Serif', 'Georgia', serif;
    font-weight: 700;
    // for large resolutions:
    // font-size: 2.8rem;
    font-size: 2.5rem;
    color: $main-white;
    position: absolute;
    bottom: 30px;
    left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
