.places {
  padding-top: 50px;
  &__container {
    @extend .container;
    position: relative;
  }

  &__text-block {
  }

  &__title {
    line-height: 1.35em;
  }

  &__title--red {
    color: $main-red;
  }

  &__descr {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 400;
    // font-size: 1.8rem;
    font-size: 1.6rem;
    color: $secondary-text;
  }

  &__button {
  }

  &__cards {
  }

  &__card {
  }

  &__name {
  }
}
