.title {
  font-family: 'Noto Serif', 'Georgia', serif;
  font-weight: 800;
  // for large resolutions:
  //   font-size: 4.8rem;
  font-size: 3.2rem;
  color: $main-text;
  text-transform: capitalize;
}
