// Color Schema
$main-red: #ff715b;
$main-white: #ffffff;
$main-gray: #f8f8f8;
$main-text: #2c2c2c;
$secondary-text: #a79997;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);
